:root {
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
    --orange: hsl(31, 77%, 52%);
    --cyan:hsl(184, 100%, 22%);
    --darkcyan: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin: 40px;
}

.card {
    padding: 3em;
}

.card img {
    margin-bottom: 20px;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--gray);
    margin-bottom: 20px;
}

.card p {
    color: var(--white);
    line-height: 30px;
    margin-bottom: 80px;
}

.card a {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-decoration: none;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a:hover {
    border: 2px solid var(--gray);
    background-color: transparent;
    color: var(--gray);
}

.card--orange {
    background-color: var(--orange);
}

.card--orange a {
    color: var(--orange);
}

.card--cyan {
    background-color: var(--cyan);
}

.card--cyan a {
    color: var(--cyan);
}

.card--darkcyan {
    background-color: var(--darkcyan);
}

.card--darkcyan a {
    color: var(--darkcyan);
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        margin: 100px;
    }

    .card p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 30px;
    }
}